@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Barley';
    src: url('@/assets/fonts/barley.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlaywriteDEGrund';
    src: url('@/assets/fonts/PlaywriteDEGrund-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlaywriteDEGrund';
    src: url('@/assets/fonts/PlaywriteDEGrund-Light.ttf')  format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'PlaywriteDEGrund';
    src: url('@/assets/fonts/PlaywriteDEGrund-ExtraLight.ttf')  format('truetype');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'PlaywriteDEGrund';
    src: url('@/assets/fonts/PlaywriteDEGrund-Thin.ttf')  format('truetype');
    font-weight: thin;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2';
    src: url('@/assets/fonts/Exo2-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2';
    src: url('@/assets/fonts/Exo2-Bold.ttf')  format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2';
    src: url('@/assets/fonts/Exo2-ExtraBold.ttf')  format('truetype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2';
    src: url('@/assets/fonts/Exo2-Italic.ttf')  format('truetype');
    font-weight: normal;
    font-style: italic;
}

h1, h2 {
    font-family: Barley;
}

h1 {
    @apply text-[3em]
}
h2 {
    @apply text-[2em]
}
h3 {
    @apply text-[1.5em] font-Playwrite
}
h4 {
    @apply text-[1em] font-Playwrite font-light
}
p {
    @apply text-[1em] font-Exo2 font-normal
}